PORT=5000
MONGODB_URL=mongodb://localhost:27017/interviewiq
JWT_SECRET=your_jwt_secret
CLIENT_URL=http://localhost:5173

# Firebase Admin Credentials
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
